<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>CRUD de Notícias</title>
	<!-- Este é o estilo do Boostrap -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/html" href="/css/datatables.min.css">  
</head>
<body>

<main>	
	
  <div class="container col-8">
    <h1>Lista de Notícias</h1>
  	<table class="table table-striped table-bordered" id="table_noticia">
      	<thead class=""/>
      	<tbody class=""/>
    </table>
    <!--
    <button type="button" class="btn btn-success btn-inline-block col-2" id="add">Adicionar</button>
    -->
  </div>
  

</main>

</body>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/helper.js"></script>

<script type="text/javascript">
  /* TODO
  Implementar requisição assíncrona para listar as
  notícias armazenadas no banco de dados. Utilize
  o endereço '/noticia/list' para receber um JSON
  com todas as notícias presentes no banco de dados.
  */



  $(document).ready(function(){

    $.ajax({
      type : 'post',
      url : '/noticia/list',

    }).done(function(json){
      console.log(json);
      makeTableHead('table_noticia', json.header, json.operations);
    })


  })

</script>

</html>