<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<title>CRUD de Notícias</title>

	<!-- Este é o estilo do Boostrap -->
  	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/html" href="/css/datatables.min.css">
  
</head>
<body>

<main>
  <div class="container col-8">
    <h1>Notícia</h1>
    <div id="noticia" class="card">
      <div id="titulo" class="card-header font-weight-bold">Título</div>
      <div class="card-body">
          <div class="py-2 text-muted"id="data">Data</div>
          <div id="conteudo">Conteúdo</div>
      </div>
    </div>
  </div>
</main>

</body>

<!-- Fim do seu codigo -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/datatables.min.js"></script>

<script type="text/javascript">
  /* TODO
  Implementar requisição assíncrona para mostrar a 
  notícia armazenada no banco de dados. Utilize
  o endereço '/noticia/getById' para receber um JSON
  com os dados da notícia presentes no banco de dados.
  */

</script>

</html>